{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/login.css') }}">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

{% endblock %}

{% block title %}Anadir Cuadros{% endblock %}

{% block content %}
<div class="content">
    <h1 class="heading">Anadir un cuadro</h1>
    {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
    <div class="container">
        <div class="adding">
            <p>Recuerda que para anadir una imagen desde Google Drive, solo tenemos que copiar una parte
                del enlance.
                <br>Por ejemplo, este es un enlace real de una imagen:
                <br>https://drive.google.com/file/d/1WMjQ7R-z747LQG1Yngn9rHdhdSJAmk_C/view?usp=sharing
                <br>Solo hay que copiar la parte que esta entre /d/xxenlancexx/view?. En nuestro ejemplo es:
                <br>1WMjQ7R-z747LQG1Yngn9rHdhdSJAmk_C
            </p>
        </div>
    </div>
</div>
{% endblock %}