{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/login.css') }}">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

{% endblock %}

{% block title %}Editar Cuadros{% endblock %}

{% block content %}
<div class="content">
    <h1 class="heading">Editar un cuadro</h1>
    {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
    <div class="container">
        <div class="adding">
            <p>En esta seccion solo puedes cambiar el nombre o la descripcion. Si hay que cambiar la imagen, anade una
                nueva.
            </p>
        </div>
    </div>
</div>
{% endblock %}