{% include "header.html" %}

<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>And...How can I buy NFT??</h2>
            <p>Are you interested in purchasing any of the Artwork in a form of NFT? Follow
                the guidelines below.</p>
        </header>
        <div class="row gtr-150">
            <div class="col-4 col-12-medium">

                <!-- Sidebar -->
                <section id="sidebar">
                    <section>

                        <h3>How to buy NFT</h3>
                        <p>There are a lot of videos and information online about how to purchase NFTs, but we also
                            wanted to make it easier for you by adding a section here that you can easily
                            follow.<br> If you want to purchase the Artwork but you would like to use a different form
                            of
                            payment, reach out to us either via <a href="mailto:info@emagndigitalart.com"><span
                                class="label">Email</span></a> or using the <a href="/#eight">Contact
                            Me</a> section from the main Gallery.</br> </p>
                        <footer>
                            <ul class="actions">
                                <li><a href="https://support.opensea.io/hc/en-us/sections/1500000462261-Buying"
                                       target="_blank" class="button">Learn More</a>
                                </li>
                            </ul>
                        </footer>

                    </section>
                    <hr/>

                </section>

            </div>
            <div class="col-8 col-12-medium imp-medium">

                <!-- Content -->
                <section id="content">
                    <a href="#" class="image fit"><img
                            src="https://drive.google.com/uc?export=view&id=1I_HrguNQqPkvwtC7HEyLadFwrz7cQJoj"
                            alt="Up in the Wall!"/></a>
                    <h3>Buy NFT in OpenSea</h3>
                    <p>Before you can buy or sell NFTs, you need to create a Crypto Wallet where you will store the
                        Ethereum you need in order to do the transactions. In our case, we are using <a
                                href="https://metamask.io/index.html">MetaMask</a> but you
                        can use any other wallet like CoinBase.</p>
                    <ol>
                        <li class="instruction">
                            <h4>Create a Crypto Wallet with MetaMask.</h4>
                            If you are installing MetaMask in your Desktop, we would
                            recommend you to use Google Chrome, otherwise you can also download the app from Apple Store
                            and
                            Google Play Store. <br><br><a href="https://metamask.io/" class="image fit"><img
                                src="https://drive.google.com/uc?export=view&id=10ZjumwfG0WaKldnoiK5NwAhseKAwKz9x"
                                alt="MetaMask Desktop Download"/></a>
                            If you have any other queries about MetaMask, you can also check their FAQ <a
                                target="_blank" href="https://metamask.io/faqs.html">here.</a>
                        </li>
                        <li class="instruction">
                            <h4>Create a new Account.</h4>Creating a MetaMask account is free. There are a lot of
                            tutorials out there so instead of re-inventing the wheel, we are just including one that we
                            found online that describes each of the steps in a very clear and detailed way.<br><a
                                target="_blank"
                                href="https://cryptonews.com/guides/metamask-guide-how-to-set-up-metamask-wallet.htm">Step-by-Step
                            Guide.</a>
                            <br><br><a href="#" class="image fit"><img
                                src="https://drive.google.com/uc?export=view&id=12giffZhaZb6koaPnCIeh-NJuhr1oplaV"
                                alt="MetaMask Account"/></a>
                        </li>
                        <li class="instruction">
                            <h4>Add Funds to your Crypto Wallet.</h4>Adding funds to your wallet is like purchasing any
                            other item online. Click on Buy and you will be presented with 2 options to purchase Ether,
                            Transak and Wyre. Both will charge some network and exchange fee as part of the transaction,
                            so we recommend you to read the information based on your country before you perform the
                            operation to choose which one is better for you. At the time of writing this article, our
                            preferred option was Wyre due to the transaction fee. Once you have chosen your method,
                            finish the process and your wallet will be loaded with your new ETH funds.
                            <br><br><a href="#" class="image fit"><img
                                src="https://drive.google.com/uc?export=view&id=1M5j3LEmsW5AJt8f7X_HarZKUDVomt0mN"
                                alt="Buy ETH through MetaMask"/></a>
                        </li>
                        <li class="instruction">
                            <h4>Buy (or sell) the NFT.</h4> Here we have 2 links to explain the very last step of the
                            process:
                            <ul>
                                <li>
                                    <a target="_blank"
                                       href="https://support.opensea.io/hc/en-us/sections/1500000462261-Buying">Click
                                        here</a> to read the documentation from OpenSea.
                                </li>
                                <li>
                                    This is a very good video from Cora
                                    Harrison <a target="_blank" href="https://youtu.be/pSMbt-2ls98">How To Buy An NFT on
                                    OpenSea
                                    - Crypto For Beginners</a>
                                </li>
                            </ul>
                        </li>
                    </ol>


                    <h3>Nah, I just want the Artwork.</h3>
                    <p>Even though NFTs assure the <span>Uniqueness</span> and <span>Exclusivity</span> of the Artwork,
                        as well as an investment in the highly active crypto world which takes this Art to a completely
                        different level, we appreciate that you might only be interested in the Art itself, and you
                        would
                        like to purchase it using a traditional method so, if that is your case, get in contact with us
                        via <a href="mailto:info@emagndigitalart.com"><span
                                class="label">Email</span></a> or using the <a href="/#eight">Contact
                            Me</a> section from the main Gallery, and we will get back to you shortly.</p>
                    <p>J.J.Roque only creates ONE piece of Artwork, so you can rest assured that if you acquire any of
                        the pieces from us, you will be the Unique owner of that <span>Original</span> work of Art and
                        no more copies will be reproduced or sold by eMAGN.</p>

                </section>

            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}