{% include "header.html" %}

    <!-- Banner -->
    <section id="banner">
        <div class="content">
            <header>
                <h2>e M A G N</h2>
                <p>Digital Art NFT Gallery.<br/>
                    Your own Exclusivity!!</p>
            </header>
            <span class="image"><img src="{{ url_for('static', filename='images/emagn_logo_1.png') }}" alt=""/></span>
        </div>
        <a href="#one" class="goto-next scrolly">Next</a>
    </section>

    <!-- One -->
    <section id="one" class="spotlight style1 bottom">
        {% if trip_pics[0]: %}
        <span class="image fit main"><img
                src="https://drive.google.com/uc?export=view&id={{ trip_pics[0].url }}"
                alt="{{ trip_pics[0].title }}"/></span>
        {% else %}
        <span class="image fit main"><img
                src="https://drive.google.com/uc?export=view&id=1xtpW3O5aC09bmWQtFu3UPDfZaL2uwB9W" alt=""/></span>
        {% endif %}
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-12-medium">
                        <header>
                            <h2>Time to</h2>
                            <p></p>
                        </header>
                    </div>
                    <div class="col-4 col-12-medium">
                        <header>
                            <h2>e M A G N</h2>
                            <p></p>
                        </header>
                    </div>
                    <div class="col-4 col-12-medium">
                        <header>
                            <h2> the Future</h2>
                            <p></p>
                        </header>
                    </div>
                </div>
            </div>
        </div>
        <a href="#two" class="goto-next scrolly">Next</a>
    </section>

    <!-- Two -->
    <section id="two" class="spotlight style2 right">
        {% if square_pics[0]: %}
        <div class="col-4">
            <span class="image fit main"><img src="https://drive.google.com/uc?export=view&id={{ square_pics[0].url }}"
                                              alt="{{ square_pics[0].title }}"/></span>
        </div>
        <div class="content">
            <header>
                <h2>{{ square_pics[0].title }}</h2>
                <p></p>
            </header>
            {% if square_pics[0].description == None: %}
            <p></p>
            {% else %}
            <p>{{ square_pics[0].description | safe }}</p>
            {% endif %}
            <ul class="actions">
                <li><a href="https://opensea.io/eMagn" target="_blank" class="button">NFT Gallery</a></li>
            </ul>
        </div>
        {% else %}
        <div class="col-4">
            <span class="image fit main"><img src="" alt=""/></span>
        </div>
        <div class="content">
            <header>
                <h2>Update in progress. Please come back in a while!</h2>
                <p></p>
            </header>
            <p>Updating...</p>
            <ul class="actions">
                <li><a href="https://opensea.io/eMagn" target="_blank" class="button">NFT Gallery</a></li>
            </ul>
        </div>
        {% endif %}
        <a href="#three" class="goto-next scrolly">Next</a>
    </section>

    <!-- Three -->
    <section id="three" class="spotlight style3 left">
        {% if square_pics[1]: %}
        <span class="image fit main bottom"><img
                src="https://drive.google.com/uc?export=view&id={{ square_pics[1].url  }}"
                alt="{{ square_pics[1].title }}"/></span>
        <div class="content">
            <header>
                <h2>{{ square_pics[1].title }}</h2>
                <p></p>
            </header>
            {% if square_pics[1].description == None: %}
            <p></p>
            {% else %}
            <p>{{ square_pics[1].description | safe }}</p>
            {% endif %}
            <ul class="actions">
                <li><a href="https://opensea.io/eMagn" target="_blank" class="button">NFT Gallery</a></li>
            </ul>
        </div>
        {% else %}
        <span class="image fit main bottom"><img src="" alt=""/></span>
        <div class="content">
            <header>
                <h2>Update in progress. Please come back in a while!</h2>
                <p></p>
            </header>
            <p>Update...</p>
            <ul class="actions">
                <li><a href="https://opensea.io/eMagn" target="_blank" class="button">NFT Gallery</a></li>
            </ul>
        </div>
        {% endif %}
        <a href="#four" class="goto-next scrolly">Next</a>
    </section>

    <!-- Four -->
    <section id="four" class="spotlight style1 bottom">
        {% if trip_pics[1]: %}
        <span class="image fit main"><img src="https://drive.google.com/uc?export=view&id={{ trip_pics[1].url }}"
                                          alt="{{trip_pics[1].title}}"/></span>
        {% else %}
        <span class="image fit main"><img src="" alt="Updating..."/></span>
        {% endif %}
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-12-medium">
                        <header>
                            <h2>e M A G N</h2>
                            <p></p>
                        </header>
                    </div>
                    <div class="col-4 col-12-medium">
                        <header>
                            <h2>D i g i t a l</h2>
                            <p></p>
                        </header>
                    </div>
                    <div class="col-4 col-12-medium">
                        <header>
                            <h2>A r t</h2>
                            <p></p>
                        </header>
                    </div>
                </div>
            </div>
        </div>
        <a href="#five" class="goto-next scrolly">Next</a>
    </section>

    <!-- Five -->
    <section id="five" class="spotlight style2 right">
        {% if square_pics[2]: %}
        <div class="col-4">
            <span class="image fit main"><img src="https://drive.google.com/uc?export=view&id={{ square_pics[2].url }}"
                                              alt="{{ square_pics[2].title }}"/></span>
        </div>
        <div class="content">
            <header>
                <h2>{{ square_pics[2].title }}</h2>
                <p></p>
            </header>
            {% if square_pics[2].description == None: %}
            <p></p>
            {% else %}
            <p>{{ square_pics[2].description | safe }}</p>
            {% endif %}
            <ul class="actions">
                <li><a href="https://opensea.io/eMagn" target="_blank" class="button">NFT Gallery</a></li>
            </ul>
        </div>
        {% else %}
        <div class="col-4">
            <span class="image fit main"><img src="" alt=""/></span>
        </div>
        <div class="content">
            <header>
                <h2>Update in progress. Please come back in a while!</h2>
                <p></p>
            </header>
            <p>Updating...</p>
            <ul class="actions">
                <li><a href="https://opensea.io/eMagn" target="_blank" class="button">NFT Gallery</a></li>
            </ul>
        </div>
        {% endif %}
        <a href="#six" class="goto-next scrolly">Next</a>
    </section>

    <!-- Six -->
    <section id="six" class="spotlight style3 left">
        {% if square_pics[3]: %}
        <span class="image fit main bottom"><img
                src="https://drive.google.com/uc?export=view&id={{ square_pics[3].url  }}"
                alt="{{ square_pics[3].title }}"/></span>
        <div class="content">
            <header>
                <h2>{{ square_pics[3].title }}</h2>
                <p></p>
            </header>
            {% if square_pics[3].description == None: %}
            <p></p>
            {% else %}
            <p>{{ square_pics[3].description | safe }}</p>
            {% endif %}
            <ul class="actions">
                <li><a href="https://opensea.io/eMagn" target="_blank" class="button">NFT Gallery</a></li>
            </ul>
        </div>
        {% else %}
        <span class="image fit main bottom"><img src="" alt=""/></span>
        <div class="content">
            <header>
                <h2>Update in progress. Please come back in a while!</h2>
                <p></p>
            </header>
            <p>Update...</p>
            <ul class="actions">
                <li><a href="https://opensea.io/eMagn" target="_blank" class="button">NFT Gallery</a></li>
            </ul>
        </div>
        {% endif %}
        <a href="#seven" class="goto-next scrolly">Next</a>
    </section>

    <!-- Seven -->
    <section id="seven" class="spotlight style1 bottom">
        {% if trip_pics[2]: %}
        <span class="image fit main"><img src="https://drive.google.com/uc?export=view&id={{ trip_pics[2].url }}"
                                          alt="{{trip_pics[2].title}}"/></span>
        {% else %}
        <span class="image fit main"><img src="" alt="Updating..."/></span>
        {% endif %}
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-12-medium">
                        <header>
                            <h2>U n i q u e </h2>
                            <p></p>
                        </header>
                    </div>
                    <div class="col-4 col-12-medium">
                        <header>
                            <h2>Y O U R S </h2>
                            <p></p>
                        </header>
                    </div>
                    <div class="col-4 col-12-medium">
                        <header>
                            <h2>E x c l u s i v e</h2>
                            <p></p>
                        </header>
                    </div>
                </div>
            </div>
        </div>
        <a href="#eight" class="goto-next scrolly">Next</a>
    </section>

    <!-- Eight -->
    <section id="eight" class="wrapper style2 special fade">
        <div class="container">
            <header>
                <h2>Get in contact with eMAGN</h2>
                <p>If you have any questions leave your email, and we will contact you. <br>We will not share your
                    information with anyone.</p>
            </header>
            <form method="post" action="{{ url_for('home') }}" class="cta">
                <div class="row gtr-uniform gtr-50">
                    <div class="col-8 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Your Name"/>
                    </div>
                    <div class="col-8 col-12-xsmall"><input type="email" name="email" id="email"
                                                            placeholder="Your Email Address"/></div>
                    <div class="col-4 col-12-xsmall"><input type="submit" value="Contact Me" class="fit primary"/></div>
                </div>
            </form>
        </div>
    </section>

{% include "footer.html" %}