{% include "header.html" %}

<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Up on the Wall</h2>
            <p>Have you wondered how any of the Artwork would look when you put it up on your wall? Well, this is
                exactly why we have created this section, to help you picture it in your home.</p>
            <p>Would you like to see it up at your place? If you want to buy it, but you want to see how
                it
                looks first, you can reach out to us either via <a
                        href="mailto:info@emagndigitalart.com"><span
                        class="label">Email</span></a> or using the <a href="/#eight">Contact
                    Me</a> section from the main Gallery.</br> </p>
        </header>
        <div class="row gtr-150">
            {% if wall_pics == []: %}
            <div class="col-6 col-12-medium">
                <h1>Updating in progress...</h1>
            </div>
            {% else %}
            <!-- Content -->

            <div class="col-6 col-12-medium">
                <section id="content">
                    {% for n in range(1,6): %}
                    <h3>{{ wall_pics[n].title }}</h3>
                    <a href="https://opensea.io/eMagn" class="image fit"><img
                            src="https://drive.google.com/uc?export=view&id={{ wall_pics[n].url }}"
                            alt="{{ wall_pics[n].title }}"/></a>
                    {% endfor %}
                </section>
            </div>

            {% endif %}
        </div>

        {% include "footer.html" %}