{% include "header.html" %}


<!-- One -->
<section id="one" class="spotlight style1 bottom">
        <span class="image fit main"><img
                src="{{url_for('static', filename='images/banner.jpg')}}"
                alt="Up on the Wall Section banner"/></span>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-4 col-12-medium">
                    <header>
                        <h2>Up</h2>
                        <p>It is Digital Art</p>
                    </header>
                </div>
                <div class="col-4 col-12-medium">
                    <header>
                        <h2>on the</h2>
                        <p>but put it up on the wall</p>
                    </header>
                </div>
                <div class="col-4 col-12-medium">
                    <header>
                        <h2>Wall</h2>
                        <p>so that everyone can enjoy it.</p>
                    </header>
                </div>
            </div>
        </div>
    </div>
    <a href="#two" class="goto-next scrolly">Next</a>
</section>

<!-- Two -->
{% if len(wall_pics) == 0: %}
<div class="col-4">
    <span class="image fit main"><img src="" alt=""/></span>
</div>
<div class="content">
    <header>
        <h2>Update in progress. Please come back in a while!</h2>
        <p></p>
    </header>
    <p>Updating...</p>
    <ul class="actions">
        <li><a href="https://opensea.io/eMagn" target="_blank" class="button">NFT Gallery</a></li>
    </ul>
</div>
{% else %}
{% for n in range(len(wall_pics)): %}
{% if n == 0 or ( n % 2 ) == 0:
<section id="{{ n }}" class="spotlight style2 right">
    <div class="col-4">
            <span class="image fit main"><img src="https://drive.google.com/uc?export=view&id={{ wall_pics[n].url }}"
                                              alt="{{ wall_pics[n].title }}"/></span>
    </div>
    <div class="content">
        <header>
            <h2>{{ wall_pics[n].title }}</h2>
            <p></p>
        </header>
        {% if wall_pics[n].description == None: %}
        <p></p>
        {% else %}
        <p>{{ wall_pics[n].description | safe }}</p>
        {% endif %}
        <ul class="actions">
            <li><a href="https://opensea.io/eMagn" target="_blank" class="button">NFT Gallery</a></li>
        </ul>
    </div>
<!--    <a href="#{{ n+1 }}" class="goto-next scrolly">Next</a>-->
    {% else %}
</section>

<!-- Three -->
<section id="{{ n+1 }}" class="spotlight style3 left">
    {% if wall_pics[n]: %}
    <span class="image fit main bottom"><img
            src="https://drive.google.com/uc?export=view&id={{ wall_pics[n].url  }}"
            alt="{{ wall_pics[n].title }}"/></span>
    <div class="content">
        <header>
            <h2>{{ wall_pics[n].title }}</h2>
            <p></p>
        </header>
        {% if wall_pics[n].description == None: %}
        <p></p>
        {% else %}
        <p>{{ wall_pics[n].description | safe }}</p>
        {% endif %}
        <ul class="actions">
            <li><a href="https://opensea.io/eMagn" target="_blank" class="button">NFT Gallery</a></li>
        </ul>
    </div>

<!--    <a href="#four" class="goto-next scrolly">Next</a>-->
    {% endif %}
</section>

{% include "footer.html" %}