{% include "header.html" %}

<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Wait but...What is NFT??</h2>
            <p>No worries, we know this might sound like a new concept, but we got you covered! Keep reading for an
                easy-to-follow explanation.</p>
        </header>
        <div class="row gtr-150">
            <div class="col-4 col-12-medium">

                <!-- Sidebar -->
                <section id="sidebar">
                    <section>

                        <h3>What is NFT</h3>
                        <p>If you are here is because you do not know what NFTs are but you would like to learn more,
                            especially if you are willing to purchase a piece of Art as an investment. <br>Well, this is
                            why
                            we have created this section to make it easier to understand. Read the next content or click
                            on the button below to read the explanation from Ethereum.</br> </p>
                        <footer>
                            <ul class="actions">
                                <li><a href="https://ethereum.org/en/nft/" target="_blank" class="button">Learn More</a>
                                </li>
                            </ul>
                        </footer>

                    </section>
                    <hr/>

                </section>

            </div>
            <div class="col-8 col-12-medium imp-medium">

                <!-- Content -->
                <section id="content">
                    <a href="#" class="image fit"><img
                            src="https://drive.google.com/uc?export=view&id=1I_HrguNQqPkvwtC7HEyLadFwrz7cQJoj"
                            alt=""/></a>
                    <h3>NFT - Non-Fungible Token</h3>
                    <p>Even if NFT might sound like a new word, the reality is that NFTs exist since 2014 and according
                        to data from market tracker DappRadar,
                        Sales volumes of non-fungible tokens (NFTs) surged to $10.7 billion in the third quarter of
                        2021, which is one of the
                        main reasons why they are gaining so much popularity.
                        <br>An NFT is a digital asset that represents a unique tangible (and untangible) object like
                        art, music, items in games or videos. NFTs can be bought and sold online and in the case of
                        eMAGN, you can do it through one of the biggest platforms, <a
                                href="https://opensea.io/collection/emagn-collection">OpeanSea</a>.Check our upcoming
                        section: How to Buy NFT.</p>
                    <p>When you purchase a NFT, you are generally acquiring a one of a kind, unique asset. This is
                        only possible because each NFT contains distinguishing information that makes it both distinct
                        from any other NFT and easily verifiable. It also contains built-in authentication which serves
                        as a proof of ownership. Majority of NFTs are built using Ethereum blockchain that prevents
                        modifying the records of ownership.</p>
                    <p>Let´s translate these words into a simple example.
                        <br>Picasso painted the <a target="_blank" href="https://www.museoreinasofia.es/en/collection/artwork/guernica">Guernica</a>
                        and there is only one and original painting but nowadays, you can find many copies all over the
                        world. Even you, if you have a passion for art, might have actually tried to paint one yourself.
                        Some of those copies are so good that only experts can differentiate fake from original. Well,
                        that is when NFTs can be very handy because each item can be easily traced back to the original
                        issuer.</p>
                    <h3>eMAGN and our collection of NFTs</h3>
                    <p>J.J.Roque has been creating unique art since 2001 when he started experimenting with photography
                        as way of entertainment. His Art has been exhibited and recognized in numerous platforms, but it
                        is only now, 20 years later that we have digitalized his main property, Uniqueness to be able to
                        offer Exclusivity. J.J.Roque is an Abstract Digital Artist but his NFTs are Concrete.
                    <br>In OpenSea you will find three different categories:</p>
                    <ul>
                        <li>Triptychs.</li>
                        <li>Bundle Duos.</li>
                        <li>Single Piece.</li>
                    </ul>
                </section>

            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}